<template>
    <div class="col-md-12">
        <div class="py-5 text-center">
            <h2>Форма заявки</h2>
            <p class="lead">Пожалуйста, заполните форму ниже, выбрав желаемую модель сохранения.</p>
        </div>
        <div class="alert alert-success" v-if="result.success">
            {{ result.success }}
        </div>
        <div class="alert alert-danger" v-for="error in result.error">
            {{ error }}
        </div>
        <form @submit.prevent="onSubmit">
            <div class="form-group">
                <label for="name">Имя</label>
                <input type="text" class="form-control" id="name" v-model.trim="name" placeholder="Вася Пупкин" required>
                <div class="invalid-feedback">Представьтесь, пожалуйста.</div>
            </div>
            <div class="form-group">
                <label for="phone">Телефон</label>
                <input type="phone" pattern="\+7\s?[\(]{0,1}9[0-9]{2}[\)]{0,1}\s?\d{3}[-]{0,1}\d{2}[-]{0,1}\d{2}" placeholder="+7 9xx xxx xx xx" class="form-control" id="phone" v-model="phone" required>
                <div class="invalid-feedback">Телефон должен быть указан в следующем формате: +7 9xx xxx xx xx</div>
            </div>
            <div class="form-group">
                <label for="message">Обращение</label>
                <textarea class="form-control" id="message" v-model="message" rows="3" placeholder="Ваш текст" required></textarea>
                <div class="invalid-feedback">Введите текст обращения, пожалуйста.</div>
            </div>
            <div class="form-group">
                <div class="custom-control custom-radio">
                    <input class="custom-control-input" type="radio" name="save_type" id="save_file" value="file" v-model="save_type">
                    <label class="custom-control-label" for="save_file">Сохранить в текстовом файле</label>
                </div>
                <div class="custom-control custom-radio">
                    <input class="custom-control-input" type="radio" name="save_type" id="save_db" value="db" v-model="save_type" checked>
                    <label class="custom-control-label" for="save_db">Сохранить в базе данных</label>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Отправить</button>
        </form>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                name: '',
                phone: '',
                message: '',
                save_type: 'file',
                result: ''
            }
        },
        methods: {
            onSubmit () {
                axios.post('/add', this.$data).then(response => {
                    this.result = response.data;
                }).catch(error => {
                    console.log(error);
                })
            }
        }
    }
</script>